@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-body_bg 
}

.header_brawl{
    @apply flex items-center text-white h-16 lg:h-20 px-7; 
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header_title{
    @apply font-normal text-2xl lg:text-3xl leading-6 ml-5 mr-auto text-white;
    font-family: 'Karla';
}

.list_header{ 
    @apply flex justify-center items-center font-normal text-lg lg:text-xl gap-8 ;
    font-family: 'Karla';
    list-style-type: none;
    
}

.header_brawl a {
    text-decoration: none;
    color: inherit;
}

.header_brawl li.active {
    @apply text-black
}

.header_brawl li:hover {
    @apply bg-indigo-500
}

.MapTierList{
    @apply hidden lg:flex text-xl
}

.BrawlerTierList{
    @apply hidden lg:flex text-xl
}

.Profile_link{
    @apply hidden lg:flex text-xl
} 

.About_phone{
    @apply flex lg:hidden
}


main {
    @apply px-4 py-10 
    
}

.input_there{
    @apply flex flex-col justify-center items-center self-center
}

.input_tag{
    @apply w-64 h-16 indent-1 text-xl font-medium text-center rounded-2xl border-input_tag border-solid;
    font-family: "Karla", sans-serif;
    border-width: 3px;
}

.btn_tag{
    @apply  w-24 mt-4 rounded-2xl border-0 text-white cursor-pointer h-10 text-base; 
    font-family: "Karla", sans-serif;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.btn_tag:focus {
    outline: none;
}

.btn_tag:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.Profile{
    @apply px-4 mx-8 mb-20 flex flex-col justify-center items-center lg:items-start 
}

.Profile_block{
    @apply flex flex-col justify-center items-center gap-12 lg:flex-row
}

.Profile_card{
    @apply mb-4 flex flex-col justify-center items-stretch bg-profile_card w-full phone:w-96  py-4 px-3 space-y-3 rounded-xl text-body_bg font-medium lg:w-60 lg:items-center
}

.Profile_card_name{
    @apply text-lg flex flex-col justify-center items-center
}

.Profile_card_img{
    @apply w-28 mx-auto
}

/* .Profile_card_stats{
    
} */

.ul_Profile_card_stats{
    @apply space-y-1 
}

.ul_Profile_card_stats > li{
    @apply flex justify-between items-stretch  md:gap-5 
}

.span_Profile_card_stats{
    @apply flex justify-center items-center gap-1.5
}

.footer_phone_brawl{
    @apply fixed bottom-0 flex items-center text-white h-16 px-5 w-full; 
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.list_footer_phone{
    @apply flex justify-around items-center font-normal text-base w-full;
    font-family: 'Karla';
    list-style-type: none;
}

.footer_phone_brawl li.active {
    @apply text-black
}

.footer_phone_brawl li:hover {
    @apply bg-indigo-500
}

.footer_phone_Profile{
    
}

.footer_phone_MapTierList{
    
}

.footer_phone_BrawlerTierList{
    
}

/* .Brawlers{
    @apply flex flex-col items-center 
} */

/*Руинит флекс*/ 
.Brawlers_block{
    @apply flex items-center justify-center -ml-10
    /* @apply flex flex-col gap-10 
    lg:flex-row lg:overflow-hidden  */
    /* lg:w-[calc(100%-10rem)]   */
}

.Brawlers_slider{
    @apply flex flex-col gap-10 
    lg:max-w-screen-sm xl:max-w-screen-md 2xl:max-w-screen-xl w-full 
    lg:flex-row lg:overflow-hidden lg:overflow-x-scroll lg:whitespace-nowrap;
    --items-per-screen: 2.15;
    
}


@media(min-width:1100px){
    .Brawlers_slider{
        max-width: 710px;
        --items-per-screen: 3.4;

    } 
}


@media(min-width:1210px){
    .Brawlers_slider{
        max-width: 820px;
        --items-per-screen: 3.9;
    } 
}

@media(min-width:1330px){
    .Brawlers_slider{
        max-width: 940px;
        --items-per-screen: 4.5;
    } 
}

@media(min-width:1470px){
    .Brawlers_slider{
        max-width: 1100px;
        --items-per-screen: 4.5;
    } 
}

.handle{
    @apply w-10 bg-input_tag z-10 cursor-pointer rounded-3xl h-10 
}

.handle_left{
    @apply relative left-6 
}

.handle_right{
    @apply relative right-6
}

.handle:hover{
    @apply bg-emerald-500
}

.Brawler_card{
    @apply flex flex-col justify-center items-stretch 
     bg-profile_card w-full py-4 px-3 space-y-3 rounded-xl text-body_bg font-medium
      lg:w-60 ;
      /* lg:items-center */
      flex: 0 0 calc(100% / var(--items-per-screen))
      /* lg:-translate-x-full    */
}

.Brawler_card_name{
    @apply text-lg flex flex-col justify-center items-center
}

.Brawler_card_img{
    @apply w-28 mx-auto
}

.ul_Brawler_card_stats{
    @apply space-y-1 
}

.ul_Brawler_card_stats > li{
    @apply flex justify-between items-stretch  md:gap-5 
}
