@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --items-per-screen: 3;
  }

body{
    @apply bg-body_bg 
}

.header_brawl{
    @apply flex items-center text-white h-16 lg:h-20 px-7; 
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.header_title{
    @apply font-normal text-2xl lg:text-3xl leading-6 ml-5 mr-auto text-white;
    font-family: 'Karla';
}

.list_header{ 
    @apply flex justify-center items-center font-normal text-lg lg:text-xl gap-8 ;
    font-family: 'Karla';
    list-style-type: none;
    
}

.header_brawl a {
    text-decoration: none;
    color: inherit;
}

.header_brawl li.active {
    @apply text-black
}

.header_brawl li:hover {
    @apply bg-indigo-500
}

.MapTierList{
    @apply hidden lg:flex text-xl
}

.BrawlerTierList{
    @apply hidden lg:flex text-xl
}

.Profile_link{
    @apply hidden lg:flex text-xl
} 

.About_phone{
    @apply flex lg:hidden
}


main {
    @apply px-4 py-10 
    
}

.input_there{
    @apply flex flex-col justify-center items-center self-center
}

.input_tag{
    @apply w-64 h-16 indent-1 text-xl font-medium text-center rounded-2xl border-input_tag border-solid;
    font-family: "Karla", sans-serif;
    border-width: 3px;
}

.btn_tag{
    @apply  w-24 mt-4 rounded-2xl border-0 text-white cursor-pointer h-10 text-base; 
    font-family: "Karla", sans-serif;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.btn_tag:focus {
    outline: none;
}

.btn_tag:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.Profile{
    @apply px-4 mx-8 mb-20 phone:flex phone:flex-col  lg:flex lg:flex-col items-center lg:items-start 2xl:items-center
}

.Profile_block{
    @apply flex flex-col phone:items-center gap-12 lg:flex-row lg:items-start
    /* justify-center items-center */
}

.Profile_card{
    @apply mb-4 flex flex-col items-stretch bg-profile_card  phone:w-96  py-4 px-3 space-y-3 rounded-xl text-body_bg font-medium lg:w-60 lg:items-center lg:sticky lg:top-8
}

.Profile_card_name{
    @apply text-lg flex flex-col justify-center items-center
}

.Profile_card_img{
    @apply w-28 mx-auto
}

/* .Profile_card_stats{
    
} */

.ul_Profile_card_stats{
    @apply space-y-1 
}

.ul_Profile_card_stats > li{
    @apply flex justify-between items-stretch  md:gap-5 
}

.span_Profile_card_stats{
    @apply flex justify-center items-center gap-1.5
}

.footer_phone_brawl{
    @apply fixed bottom-0 flex items-center text-white h-16 px-5 w-full z-10; 
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.list_footer_phone{
    @apply flex justify-around items-center font-normal text-base w-full;
    font-family: 'Karla';
    list-style-type: none;
}

.footer_phone_brawl li.active {
    @apply text-black
}

.footer_phone_brawl li:hover {
    @apply bg-indigo-500
}

.footer_phone_Profile{
    
}

.footer_phone_MapTierList{
    
}

.footer_phone_BrawlerTierList{
    
}

.Brawlers{
    @apply flex flex-col items-start 
}

/* .info_brawlers{
    @apply 
} */

/*Руинит флекс*/ 
.Brawlers_block{
    @apply flex items-center -ml-5 lg:-ml-10
     relative 
    /* @apply flex flex-col gap-10 
    lg:flex-row lg:overflow-hidden  */
    /* lg:w-[calc(100%-10rem)]   */
    lg:overflow-hidden
}

.Brawlers_slider{
    --items-per-screen: 2.9;
    @apply flex flex-row gap-5 scroll-smooth p-2 
    lg:max-w-screen-sm xl:max-w-screen-md 2xl:max-w-screen-xl  
    lg:flex-row overflow-hidden  ;
    
}

@media(min-width:51px){
    .Brawlers_slider{
        max-width: 30px;
        --items-per-screen: 0.5;

    } 
}

@media(min-width:180px){
    .Brawlers_slider{
        max-width: 140px;
        --items-per-screen: 1;

    } 
}

@media(min-width:300px){
    .Brawlers_slider{
        max-width: 210px;
        --items-per-screen: 1;

    } 
}

@media(min-width:480px){
    .Brawlers_slider{
        max-width: 340px;
        --items-per-screen: 1;

    } 
}

@media(min-width:660px){
    .Brawlers_slider{
        max-width: 520px;
        --items-per-screen: 2.1;

    } 
}

@media(min-width:880px){
    .Brawlers_slider{
        max-width: 720px;
        --items-per-screen: 3.2;

    } 
}

@media(min-width:1024px){
    .Brawlers_slider{
        max-width: 620px;
        --items-per-screen: 2.5;

    } 
}

@media(min-width:1100px){
    .Brawlers_slider{
        max-width: 720px;
        --items-per-screen: 3.2;
    } 
}

@media(min-width:1280px){
    .Brawlers_slider{
        max-width: 880px;
        --items-per-screen: 4.32;
    } 
}

@media(min-width:1500px){
    .Brawlers_slider{
        max-width: 1100px;
        --items-per-screen: 4.25;
    } 
}



.handle{
    @apply w-10 bg-input_tag z-10 cursor-pointer opacity-70 rounded-3xl h-10 hover:bg-emerald-500 hover:opacity-100
}

.handle_left{
    @apply relative left-7 
}

.handle_right{
    @apply relative right-5
}

.Brawler_card{
    @apply flex flex-col justify-center items-stretch max-w-xs lg:whitespace-nowrap hover:scale-105 ease-in-out cursor-pointer
     bg-profile_card w-52 py-4 px-3 space-y-3 rounded-xl text-body_bg font-medium
      lg:w-52;
      /* lg:items-center */
      flex: 0 0 calc(100% / var(--items-per-screen))
      /* lg:-translate-x-full    */
}

.Brawler_card_name{
    @apply text-lg flex flex-col justify-center items-center
}

.Brawler_card_img{
    @apply w-28 mx-auto
}

.ul_Brawler_card_stats{
    @apply space-y-1 
}

.ul_Brawler_card_stats > li{
    @apply flex justify-between items-stretch  md:gap-5 
}

.Brawlers_slider_progbar{
    @apply flex flex-col items-start gap-1  
}

.slider-indicators{
    @apply flex items-center gap-1 
    relative 
   /* @apply flex flex-col gap-10 
   lg:flex-row lg:overflow-hidden  */
   /* lg:w-[calc(100%-10rem)]   */
   lg:overflow-hidden
    /* flex gap-4  */
}

.indicator{
    @apply  h-4 w-4 bg-input_tag opacity-50 active:opacity-100 rounded-3xl cursor-pointer 
}

.brawl_swiper_main_div{
    @apply lg:ml-5 ml-6
}

.brawl_swiper_main{
    @apply md:max-w-screen-sm sm:max-w-[500px] phone:max-w-[360px]
    lg:max-w-screen-sm xl:max-w-screen-md 2xl:max-w-screen-lg 
    overflow-hidden  
}

.Battle_logs_Card{
    @apply w-fit rounded-lg bg-profile_card
}

.Battle_logs_header{
    @apply p-1 px-8 font-medium text-body_bg flex justify-between
}

.span_Battle_logs_header{
    @apply flex gap-1 items-center
}

.span_Battle_logs_header_result{
    @apply mr-3
}

.span_Battle_logs_header_trophy{
    @apply flex
}

/* .Battle_logs_header{
    @apply 
} */

.Battle_logs_body_name{
    @apply bg-[#5475DF] flex items-center py-2 px-7 gap-3
}

.Battle_logs_name_block{
    @apply flex flex-col text-body_bg
}

.Battle_logs_name_mode{
    @apply text-lg font-medium 
}

.Battle_logs_name_map{
    @apply text-base font-medium 
}

.Battle_logs_body_name_img{
    @apply w-10 h-10 
}



.Brawler_logs_stats{
    /*@apply bg-[url('Brawlpicker\bralwstars_picker\front-brawl-picker\src\img\brawl_ball.jpg')]*/
    @apply rounded-b-lg px-5 py-6 opacity-100 bg-cover;
    background-image: url("./img/brawl_ball.jpg");
    height: 100%;
    //background: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    //filter: brightness(70%);  
}
/* .img_Brawler_logs_stats{
    background-image: url("./img/brawl_ball.jpg");
    background-size: 100%;
    //background: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    filter: brightness(70%); 
} */


.ul_Brawler_logs_players{
    @apply  grid small_ph:grid-cols-3 sm:grid-cols-6 gap-x-14 gap-y-3 mx-auto sm:gap-5; 
}

.li_Brawler_logs_players{
    @apply w-16 h-[74px] bg-profile_card px-1 rounded-md bg-opacity-80 text-body_bg font-normal text-center overflow-hidden
}

.Brawler_logs_players{
    @apply  flex items-center text-sm font-medium gap-1
}

.Brawler_logs_player_img{
    @apply mx-auto w-9 
}

.Brawler_logs_players_name{
    @apply text-xs overflow-hidden
     
}